.contact_content_top span {
    color: #111;
    font-family: var(--stol-m), sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.8px;
    font-weight: 500;
    text-transform: uppercase;
}

.contact_content_top h1 {
    color: #111;
    font-family: var(--stol-m), sans-serif;
    font-size: 57.001px;
    line-height: 62.0167px;
    letter-spacing: -1.8px;
    font-weight: 500;
}

.contact_content_top {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact_content_top p {
    color: #6D6F72;
    font-family: var(--dm_sans), sans-serif;
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
}

.contact_content_bottom ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact_content_bottom ul li {
    display: flex;
    gap: 10px;

}

.contact_content_bottom ul li a {
    color: #6D6F72;
    font-family: var(--dm_sans), sans-serif;
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    text-decoration: none;
}

.contact_content_bottom ul li svg {
    color: #F18CC4;
}

.contact_content_bottom ul li:nth-child(2) a {
    color: black;
    font-size: 20px;
}


.input {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #D2D3D5;
    padding: 10px 0;
}

.input:hover {
    transition: .5s;
    border-bottom: 1px solid #111;
}

.input svg {
    font-size: 30px;
}

.input input {
    border: none;
    outline: none;
    margin-left: 5px;
    background: transparent;
}

.input textarea {
    border: none;
    outline: none;
    margin-left: 5px;
    resize: none;
    width: 100%;
    background: transparent;
}

.input input::placeholder, .input textarea::placeholder {
    color: #111111;
    font-weight: 400;
}

.contact_form {
    margin-top: 20px;
    padding: 15px;
}

.contact_btn button {
    border: none;
    outline: none;
    cursor: pointer;
    background: #EE7F51;
    color: #fff;
    padding: 15px 25px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 180px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    font-family: var(--stol-r), sans-serif;
}

.contact_btn:hover button {
    background: #DF6A39;

}

.contact_check {
    gap: 10px
}

.contact_check p {
    white-space: nowrap;
    padding: 0;
    margin: 0;
}